<header>
  <div id="header">
    <h1>Motorcycle Oregon</h1>
    <ul class="nav nav-tabs">
      <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
      <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li role="presentation">{{#link-to 'blog'}}New blog{{/link-to}}</li>
    </ul>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
