<header>
  <div id="header">
    <h1>Steve's Motorcycle Blog</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
      <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
